# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database (local only)
production.db

# Model files (large binary)
model/model.pkl


# Secrets (Sprint 4 onwards)
.env

# VSCode
.vscode/
tempCodeRunnerFile.py

# Alembic cache
alembic/__pycache__/

#celerybeat schedule files
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal